{% extends "base.html" %}

{% load static %}

{% block title %}
  <title>Design Pro</title>
{% endblock %}

{% block content %}
  <div class="design_pro_inner_header_content">
    {% if user.is_authenticated %}
      <div>
        <h2>Дизайнерское решение</h2>
        <button>Оставить заявку</button>
      </div><hr>
      <div>
        <div>
          <h2>Мы реализуем дизайн любой сложности и в любом объеме</h2>
          <span>Ниже приведены примеры уже реализованных нами дизайнов</span>
        </div>
        <div>
          <img style="height: 35vh; width: 30%" src="{% static 'img/design_1.jpg' %}">
          <img style="height: 35vh; width: 30%" src="{% static 'img/design_2.jpg' %}">
          <img style="height: 35vh; width: 30%" src="{% static 'img/design_3.jpeg' %}">
        </div>
      </div>
    {% else %}
      <div>
        <h2>Design Pro Home</h2>
        <span>Спасибо, что посетили наш сайт. Но не для авторизованных пользователей дальше вход воспрещён. Поэтому прежде зарегистрируйтесь или совершите вход!</span>
      </div>
    {% endif %}
  </div>
{% endblock %}